[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-Migrate = "*"
flask_jwt_extended = "*"
flask_swagger_ui = "*"
marshmallow = "*"
Werkzeug = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
